<?xml version="1.0"?>
<robot name="v1">
    <!-- base coordinate frame of the robot -->
    <link name="robot">
        <visual>
            <origin xyz="0 0 0.06985"/>
            <geometry>
                <box size="0.6858 0.6858 0.0508"/>
            </geometry>
        </visual>
    </link>

    <link name="front_camera">
        <visual>
            <origin xyz="0 0 -0.01"/>
            <geometry>
                <box size="0.05715 0.05715 0.02"/>
            </geometry>
        </visual>
    </link>
    <link name="intake_camera">
        <visual>
            <origin xyz="0 0 -0.01"/>
            <geometry>
                <box size="0.05715 0.05715 0.02"/>
            </geometry>
        </visual>
    </link>

    <link name="back_left_camera">
        <visual>
            <origin xyz="0 0 -0.01"/>
            <geometry>
                <box size="0.05715 0.05715 0.02"/>
            </geometry>
        </visual>
    </link>

    <link name="right_camera">
        <visual>
            <origin xyz="0 0 -0.01"/>
            <geometry>
                <box size="0.05715 0.05715 0.02"/>
            </geometry>
        </visual>
    </link>

    <link name="oak"/>

    <link name="front_camera_interstitial"/>
    <link name="intake_camera_interstitial"/>
    <link name="oak_interstitial"/>

    <link name="intake_grid"/>

    <joint name="robot_to_front_camera_interstitial" type="fixed">
        <parent link="robot"/>
        <child link="front_camera_interstitial"/>
        <origin xyz="0.263630 -0.175331 0.687403" rpy="-1.396263 0 -1.5708"/>
    </joint>

    <joint name="front_camera_interstitial_to_front_camera" type="fixed">
        <parent link="front_camera_interstitial"/>
        <child link="front_camera"/>
        <origin rpy="0 0 -1.5708"/>
    </joint>

    <joint name="robot_to_intake_camera_interstitial" type="fixed">
        <parent link="robot"/>
        <child link="intake_camera_interstitial"/>
        <origin xyz="0.251043 0.002469 0.682677" rpy="-1.832596 0 -1.5708"/>
    </joint>

    <joint name="intake_camera_interstitial_to_intake_camera" type="fixed">
        <parent link="intake_camera_interstitial"/>
        <child link="intake_camera"/>
        <origin rpy="0 0 -1.5708"/>
    </joint>

    <joint name="robot_to_back_left_camera" type="fixed">
        <parent link="robot"/>
        <child link="back_left_camera"/>
        <origin xyz="0.142842 0.303003 0.704537" rpy="-1.5708 0 3.14159"/>
    </joint>

    <joint name="robot_to_right_camera" type="fixed">
        <parent link="robot"/>
        <child link="right_camera"/>
        <origin xyz="0.145311 -0.303003 0.708814" rpy="-1.184 -0.363 2.288"/>
    </joint>

    <joint name="robot_to_intake_grid" type="fixed">
        <parent link="robot"/>
        <child link="intake_grid"/>
        <origin xyz="0.89 -0.6858 0.1"/>
    </joint>

    <joint name="robot_to_oak_interstitial" type="fixed">
        <parent link="robot"/>
        <child link="oak_interstitial"/>
        <origin xyz="0.252628 0.120650 0.708825" rpy="0 0.261799 0"/>
    </joint>

    <joint name="oak_interstitial_to_oak" type="fixed">
        <parent link="oak_interstitial"/>
        <child link="oak"/>
        <origin rpy="3.14159 0 0"/>
    </joint>
</robot>