<?xml version="1.0"?>
<robot name="mk2">
    <!-- base coordinate frame of the robot -->
    <link name="robot"/>

    <link name="chassis">
        <visual>
            <geometry>
                <box size="1 1 0.25"/>
            </geometry>
        </visual>
    </link>

    <link name="front_camera">
        <visual>
            <origin xyz="0 0 -0.01"/>
            <geometry>
                <box size="0.08 0.04 0.02"/>
            </geometry>
        </visual>
    </link>

    <link name="intake_camera">
        <visual>
            <origin xyz="0 0 -0.01"/>
            <geometry>
                <box size="0.08 0.04 0.02"/>
            </geometry>
        </visual>
    </link>

    <link name="right_camera">
        <visual>
            <origin xyz="0 0 -0.01"/>
            <geometry>
                <box size="0.08 0.04 0.02"/>
            </geometry>
        </visual>
    </link>

    <joint name="robot_to_chassis" type="fixed">
        <parent link="robot"/>
        <child link="chassis"/>
    </joint>

    <joint name="chassis_to_right_camera" type="fixed">
            <parent link="chassis"/>
            <child link="right_camera"/>
            <origin xyz="0.145311 -0.303003 0.708814" rpy="-1.5708 0 3.14159"/>
    </joint>


    <joint name="chassis_to_front_camera" type="fixed">
        <parent link="chassis"/>
        <child link="front_camera"/>
        <origin xyz="0 0.1 0.5"/>
        <!--<origin xyz="0.5 0 0.5" rpy="-1.57079 0 -1.57079"/>-->
    </joint>

    <joint name="chassis_to_intake_camera" type="fixed">
        <parent link="chassis"/>
        <child link="intake_camera"/>
        <origin xyz="0 0.1 0.5"/> <!-- DepthAI uses x forward, z up for the camera -->
    </joint>
</robot>