<?xml version="1.0"?>
<robot name="mk2">
    <!-- base coordinate frame of the robot -->
    <link name="robot"/>

    <link name="chassis">
        <visual>
            <geometry>
                <box size="1 1 0.25"/>
            </geometry>
        </visual>
    </link>

    <link name="front_camera">
        <visual>
            <origin xyz="0 0 -0.01"/>
            <geometry>
                <box size="0.08 0.04 0.02"/>
            </geometry>
        </visual>
    </link>

    <joint name="robot_to_chassis" type="fixed">
        <parent link="robot"/>
        <child link="chassis"/>
    </joint>

    <joint name="chassis_to_front_camera" type="fixed">
        <parent link="chassis"/>
        <child link="front_camera"/>
        <origin xyz="0 0 0.5"/>
        <!--<origin xyz="0.5 0 0.5" rpy="-1.57079 0 -1.57079"/>-->
    </joint>
</robot>